/* Game of Life Scss file */ 
@import 'mixin'; 

//************ Variables ************ 
// Font Pallet 
$varela: 'Varela Round', sans-serif;

// Font Sizes 
$title_fs: 70px; // size for main title
$subTitle_fs: 30px; // size for sub title and program titles 
$menu_fs: 25px; // size for menu item titles 

// Color Pallet 
$c_offGray: rgb(154, 165, 165); 
$c_cleanGray: rgb(220, 220, 220); 
$c_darkTeal: rgb(70, 102, 102); 
$c_saphire: rgb(102, 153, 255);
$c_openGreen: rgb(0, 204, 102);
$c_openGreen50: rgba(0, 204, 102, 0.5);
$c_orange: rgb(255, 165, 0); 


// Dimensions
$header_height: 20vh; 
$sidebar_height: 80vh; 
$btn_row_height: 10%; 

.golContainer {
    width: 100%; 
    display: flex; 
    justify-content: flex-start;
    height: 90%;  
    align-items: center; 
    //border-style: solid; 
}

.golUI { 
    width: 100%; 
    height: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    border-style: solid; 
    border-width: 10px; 
    border-color: #d1dde6;

    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
}

.btn {  
    border-style: solid; 
    border-width: 2px; 
    border-color: #d1dde6;;
    background-color: white; 
    font-size: 20px; 
    border-radius: 5px; 
    letter-spacing: 0px; 
    padding-top: 3px; 
    height: 2em;

    display: flex; 
    flex-direction: column; 
    align-items: center; 
}

.basic .btn:hover { 
    color: $c_orange; 
}

.patterns .btn:hover {
    color: $c_orange; 
}

.basic { 
    height: $btn_row_height; 
    width: 100%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    display: flex; 
    justify-content: space-evenly; 
    background-color: $c_openGreen50; 

    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;  
}

.patterns { 
    height: $btn_row_height; 
    width: 100%; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    display: flex; 
    justify-content: space-evenly; 
   /* border-style: solid; 
    border-width: 10px; 
    border-color: rgb(77, 169, 219); */ 
}

.label { 
    /*border-style: solid; */
    color: $c_openGreen;
    font-size: 20px; 
    margin-top: 8px; 
    text-align: center; 
}

#refLabel {
    color: $c_orange; 
    margin-right: 0; 
}
#refVal {
    margin-left: 0; 
    //color: $c_orange;
    width: 3em; 
}

textarea {
    height: 2em; 
    overflow-y: hidden; 
    margin-top: 7px; 
}
