// Main Sass file for jarodboone.github.io
@import 'mixin'; 
@import 'gol'; 
@import 'crypto'; 

//************ Variables ************ 
// Font Pallet 
$varela: 'Varela Round', sans-serif;

// Font Sizes 
$title_fs: 70px; // size for main title
$subTitle_fs: 30px; // size for sub title and program titles 
$menu_fs: 25px; // size for menu item titles 

// Color Pallet 
$c_offGray: rgb(154, 165, 165); 
$c_cleanGray: rgb(220, 220, 220); 
$c_darkTeal: rgb(70, 102, 102); 
$c_saphire: rgb(102, 153, 255);
$c_openGreen: rgb(0, 204, 102);


// Dimensions
$header_height: 20vh; 
$sidebar_height: 80vh; 


//************ SCSS ************ 
body {
    overflow-x: hidden; 
    padding: 0; 
}

// Header Scss ************************
.header {
    font-family: $varela;
    height: $header_height; 
    padding: 2.5vh; 
    margin-bottom: 0;  
    @include border-radius(0); 

    display: flex; 
}

.title h1 {
    font-size: $title_fs; 
    color: white;
}

.title p {
    font-size: $subTitle_fs; 
    color: black; 
}

// Sidebar Scss ************************
.sidebar { 
    background-color: $c_offGray;
    margin-bottom: 0;
    margin-right: 0;  
    height: $sidebar_height; 

    display: flex; 
    flex-direction: column;
    justify-content: flex-start; 
    padding-right: 0;
}

.menu.item{
    font-family: $varela; 
    font-size: $menu_fs;
    padding-top: 1em;

    display: flex; 
    flex-direction: row; 
    justify-content: center;  

    // Bottom border 
    border-bottom-style: solid;
    border-bottom-width: 5px; 
    border-bottom-color: $c_cleanGray;
    
}

.menu.item:hover{
    cursor: pointer;
    background-color: $c_darkTeal;
}

// Display Frame Scss ************************
.display.item {
    display: none; 
    padding: 20px;
    height: $sidebar_height; 
    overflow-y: scroll;
}

.display.item.t1 p {
    text-indent: 4em; 
    font-size: 18px; ; 
}

.display.item.t1 h2 {
    color: $c_saphire; 
}

.display.item.t2 h2 {
    color: $c_openGreen; 
    margin-bottom: 20px; 
}